---
import Layout from "../../layout/main.astro";
import Navbar from "../../components/Navbar.astro";
import doe from "../../assets/mobs/deer/doe.png";
import weakenedDoe from "../../assets/mobs/deer/weakenedDoe.png";
import fawn from "../../assets/mobs/deer/fawn.png";
import stag from "../../assets/mobs/deer/stag.png";
import weakenedStag from "../../assets/mobs/deer/weakenedStag.png";
import { Image } from "astro:assets";
import ImageCarousel from "../../components/ImageCarousel.astro";
import Footer from "../../components/Footer.astro";

const baseUrl = import.meta.env.BASE_URL;
---

<Layout
  content={{
    title: "Deer - TerraNova: Minecraft Addon Wiki",
    description: "Learn about the Deer mob in the TerraNova Minecraft addon.",
  }}
>
  <Navbar />
  <main class="mx-auto max-w-5xl px-4 py-8">
    <h1 class="mb-2 text-4xl font-bold">Deer</h1>
    <p class="mb-4">
      And other types of deers such as fawns and stags.
    </p>
    <div class="max-w-lg">
      <ImageCarousel
        items={[
          {
            src: doe.src,
            alt: "Doe",
          },
          {
            src: weakenedDoe.src,
            alt: "Weakened Doe",
          },
          {
            src: fawn.src,
            alt: "Fawn",
          },
          {
            src: stag.src,
            alt: "Stag",
          },
          {
            src: weakenedStag.src,
            alt: "Weakened Stag",
          },
        ]}
      />    

    </div>


  </main>

  <Footer />
</Layout>
