---
---

<nav id="header" class="sticky top-0 z-1000 bg-[#212121] backdrop-blur-[10px] border-b border-white/10 px-8 py-4">
  <div class="max-w-7xl mx-auto flex items-center">
    <img src="/icon.svg" alt="TerraNova Logo" class="h-8 w-8 mr-4 self-center">
    <h1 class="text-white text-lg font-semibold m-0 tracking-wide hidden md:block">TerraNova: Minecraft Addon Wiki</h1>
  </div>
</nav>
